 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

:root {
    --main-bg: #f1f5f9;
    --header-bg: #f8fafc;
    --card-bg: #94a3b8; 
}

/* CSS reset */

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 15vh;
    font-family: 'Oswald', sans-serif;
    font-size: larger;
    display: flex;
    justify-content: space-around;
    padding: 2em;
    background-color: var(--header-bg);
    box-shadow: -1px 4px 5px -1px rgba(0,0,0,0.61);
    margin-bottom: 3em;
}

.main{
    display: flex;
    justify-content: center;
}

.open-modal-area{
    height: fit-content;
    border: 2px solid #78716c;
    border-radius: 5px;
}

#openModal{
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 3rem;
}

.open-modal-area:hover{
    background-color: #fee2e2;
    cursor: pointer;
    border: 2px solid #78716c;
    border-radius: 5px;
    cursor: pointer;
}


.book-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-card{
    width: 10vw;
    border-radius: 10px;
    background-color: #fca5a5;
    color: #44403c;
    display: flex;
    flex-direction: column;
}


form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modal{
    border: 1px solid blue;
    width: 20vw;
    height: auto;
    visibility: hidden;
}

.modal-open{
    visibility: visible;
}

.input-area{
    padding: 1em;
    display: flex;
    flex-direction: column;
}

input[type=text]{
    height: 3em;
}

input[type=number]{
    height: 2em;
}

.btn-holder {
    width: 50px;
    height: 26px;
    border-radius: 18px;
    background-color: #F7D6A3;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}
    .btn-circle {
        background-color: #732407;
        transform: translateX(0px);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        transition: 300ms;
    }

    .active {
        background-color: rgb(61, 122, 0);
        transform: translateX(30px);
        transition: 300ms;
    }

   #isread {
        opacity: 0;
        width: 100%;
        cursor: pointer;
    }
