 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

:root {
    --main-bg: #f1f5f9;
    --header-bg: #f8fafc;
    --card-bg: #94a3b8; 
}

/* CSS reset */

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 15vh;
    font-family: 'Oswald', sans-serif;
    font-size: larger;
    display: flex;
    justify-content: space-around;
    padding: 2em;
    background-color: var(--header-bg);
    box-shadow: -1px 4px 5px -1px rgba(0,0,0,0.61);
}

